# .gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
db.sqlite3
/static/
/media/

# Virtual environment
venv/
.env

# VSCode
.vscode/

# Django static files
staticfiles/

# tailwind cli
z_dev/
